$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "palette";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background:linear-gradient(125deg, rgb(55, 49, 74) 0%, rgb(117, 114, 150) 100%);
  font-family: 'Poiret One', cursive;
  color:white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid $borderLight;
  margin-bottom: 0;
  margin-bottom: 30px;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  border-top: 1px solid $borderLight;
}

.container-narrow > hr {
  margin: 30px 0;
}


#content{
  min-height: 88vh; 
}

.leftColumn{
  .title{
    font-size: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid $borderLight;
  }
  .user{
    transition: all 0.5s linear;
    padding: 10px;

    &:hover{
      background: rgba(255, 255, 255, 0.36);
    }
  }
}

/* Elements */
a{
  cursor:pointer;
  color: $linkColor;
  text-decoration: none;
  &:hover{
    color: $hoverLinkColor;
    text-decoration: none;
  }
}


video{
  max-width: 100%;
}